* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.page {
  background: #2e2e2e;
}
.lock {
  overflow: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
/*-----header-----*/
.header {
  width: 100%;
  position: relative;
}

/*-----promo-----*/
.promo {
  width: 100%;
}
.promo__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 70px;
  height: 100dvh;
}
/*-----шарик-----*/
.globe-container,
.globe {
  width: 200px;
  height: 200px;
}
.globe-container {
  position: relative;
  display: inline-block;
  margin: 30px;
  transform: scale(1.8);
}
.globe {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
.globe-worldmap,
.globe-worldmap-front,
.globe-worldmap-back,
.globe-sphere,
.globe-outer-shadow,
.globe-inner-shadow {
  position: absolute;
  display: block;
  margin: 0;
}
.globe-sphere,
.globe-outer-shadow,
.globe-inner-shadow {
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.globe-worldmap {
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.globe-worldmap-front,
.globe-worldmap-back {
  left: 0;
  top: 0;
  width: 1000px;
  height: 200px;
  overflow: visible;
  background-image: url(../images/worldmap.svg);
  background-repeat: no-repeat;
}
.globe-outer-shadow {
  left: 0;
  top: 186px;
  width: 200px;
  height: 30px;
  background-image: url(../images/outer_shadow.svg);
}
.globe-inner-shadow {
  background-image: url(../images/inner_shadow.svg);
}

.globe-worldmap-front {
  background-position: 0px 0px;
  animation: textureSpinreverse 8s linear infinite;
}
.globe-worldmap-back {
  background-position: 0px -220px;
  animation: textureSpin 8s linear infinite;
}

@keyframes textureSpin {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-47.5%);
  }
}
@keyframes textureSpinreverse {
  from {
    transform: translateX(-47.5%);
  }
  to {
    transform: translateX(0);
  }
}
/*-----3d text-----*/
@import url(https://fonts.googleapis.com/css?family=Russo+One);
.logotype1,
.logotype1:hover,
.logotype1 div {
  position: relative;
  display: inline-block;
  font-size: 36px;
  color: #337ab7;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
  font-family: "Russo One", sans-serif;
  font-weight: 300;
  text-decoration: none;
  margin: 20px 0 20px 26px;
  line-height: 16px;
}
.logotype1 div {
  display: block;
}
.logotype1 b {
  letter-spacing: 1px;
  font-size: 44px;
  color: #1c84d0;
  -webkit-text-stroke: 1px #bde1ff;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  background: #2e2e2e;
}
.logotype1 span {
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
  display: block;
  float: right;
  font-size: 20px;
  color: #579ee6;
  line-height: 6px;
}
.logotype1:before {
  position: absolute;
  top: -12px;
  left: 0;
  content: "";
  border: 8px solid #bde1ff;
  width: 66px;
  height: 66px;
  border-radius: 100%;
  transition: all 0.3s ease;
  z-index: -1;
  box-sizing: content-box;
}
.logotype1:hover:before {
  transform: scale(1.1);
  border: 8px solid #1c84d0;
}
@media (max-width: 600px) {
  .logotype1,
  .logotype1:hover,
  .logotype1 div {
    font-size: 26px;
    line-height: 6px;
    margin: 20px 0 20px 20px;
  }
  .logotype1 b {
    font-size: 34px;
  }
  .logotype1 span {
    font-size: 16px;
    line-height: 4px;
  }
  .logotype1:before {
    top: -9px;
    border: 6px solid #bde1ff;
    width: 52px;
    height: 52px;
  }
  .logotype1:hover:before {
    border: 6px solid #1c84d0;
  }
}
/*-----бургер-----*/
.burger {
  display: none;
}
@media screen and (max-width: 1024px) {
  .burger {
    display: block;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 999;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 99;
  }
}
@media screen and (max-width: 1024px) {
  .header__burger:before {
    content: "";
    background-color: #1c84d0;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1024px) {
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1024px) {
  .header__burger:after {
    content: "";
    background-color: #1c84d0;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1024px) {
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1024px) {
  .header__burger span {
    content: "";
    background-color: #1c84d0;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1024px) {
  .header__burger.active span {
    transform: scale(0);
  }
}
/*-----меню-----*/
.nav {
  max-width: 960px;
  mask-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 25%,
    #ffffff 75%,
    rgba(255, 255, 255, 0) 100%
  );
  margin: 0 auto;
}
.nav ul {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
}
.nav ul li {
  display: inline-block;
}

.nav ul li a {
  padding: 18px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #1c84d0;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

.nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: #bde1ff;
}
@media screen and (max-width: 1024px) {
  .nav {
    height: 0;
  }
  .nav.active {
    height: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.3s ease-in-out;
  }
  .nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20%;
    background: #2e2e2e;
  }
}
/*-----кнопка прокрутки вверх-----*/
.scroll-to-top {
  transform: scale(0);
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  background: #1c84d0;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 85px;
}
/*-----footer-----*/
.footer {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  padding-top: 60px;
  padding-bottom: 40px;
}
textarea {
  resize: none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

.svg-inline--fa {
  vertical-align: -0.2em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter,
.fa-facebook-f,
.fa-linkedin,
.fa-tiktok,
.fa-youtube,
.fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover,
.rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover,
.rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.tiktok {
  background: #000000;
}

.rounded-social-buttons .social-button.tiktok:hover,
.rounded-social-buttons .social-button.tiktok:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover,
.rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}
